<div *ngIf="expression">
    <h3>Title: Sort and Search</h3>
    <h3>Discription: Sort Search using API data</h3>
    <h3>Instructions to use:</h3>
    <h4>1. Click on the button below</h4>
    <h4>2. Click on the table header for data to appear</h4>
    <h4>3. Click on arrow in the header to sort</h4>
    <h4>4. Use Search filter to search a particular Employee</h4>
    <h3>Welcome to my search sort app. Please click on the button to continue</h3>
    <button mat-raised-button class="btn" color="primary" (click)="reveal()">Click Me</button>
</div>
<div *ngIf="!expression">
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country" />
    </div>
    <p style="margin-left: 50px;"> Please Click on the table header </p>
    <table matSort (matSortChange)="sortData($event)">
        <tr>
            <th mat-sort-header="id">id </th>
            <th mat-sort-header="employee_name">employee_name</th>
            <th mat-sort-header="employee_salary">employee_salary </th>
            <th mat-sort-header="employee_age">employee_age </th>
        </tr>

        <tr *ngFor="let employee of sortedData | filter: searchText">
            <td>{{ employee.id }}</td>
            <td>{{ employee.employee_name }}</td>
            <td>{{ employee.employee_salary }}</td>
            <td>{{ employee.employee_age }}</td>
        </tr>
    </table>
</div>